{% load filer_tags filer_admin_tags static thumbnail %}

<div class="table-responsive table-desi">
    <table class="coupon-table table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Размер</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for file in files %}
            <tr>
                <td>
                    {% file_icon file %}
                </td>
                <td>{{ file.label }}</td>

                <td>{{ file.size|filesize:"auto1000" }}{% if file.file_type == "Image" and file.width > 0.0 and file.height > 0.0 %}, {{ file.width|floatformat }}x{{ file.height|floatformat }} px{% endif %}</td>
                <td><a target="_blank" href="{{ file.url }}">Скачать</a></td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="6">Файлы найдены</td>
        {% endfor %}
        </tbody>
    </table>
</div>