<div hx-post="{% url 'organization:phrase_like' phrase.pk %}"
     hx-swap="outerHTML"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="block-like">
        <div class="vote">
            <i class="fa fa-heart"></i>
            <div>{{ phrase.likes.count }}</div>

        </div>
    </div>

    <script>
        {% if htmx_message %}
            $("#pidor").html('<div id="htmxResponseMessage">{{ htmx_message }}</div>')
            if (document.getElementById('htmxResponseMessage')) {
                setTimeout(function () {
                    document.getElementById('htmxResponseMessage').remove();
                }, 3000);
            }
        {% endif %}
    </script>
</div>