{% extends 'index/layout.html' %}
{% load static %}
{% load get_property %}
{% load generate_color %}
{% load count %}
{% block title %}{{ form.title }} Ответы{% endblock %}
{% block script %}
    <script src="{% static 'index/responses.js' %}" defer></script>
    <script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="form-topnav">
            <span class="nav-text nav-form-title input-form-title">{{ form.title }}</span>
        </div>
        <div class="form-topnav">
            <div class="form-navigation center">
                {% if form.is_quiz %}
                    <span class="col-4 navigation"><a href="{% url 'polls:edit_form' form.code %}" class="link">Questions</a></span>
                    <span class="col-4 navigation score"><a href="{% url 'polls:score' form.code %}"
                                                            class="link">Scores</a></span>
                    <span class="col-4 navigation active">Responses</span>
                {% else %}
                    <span class="col-6 navigation"><a href="{% url 'polls:edit_form' form.code %}"
                                                      class="link">Вопросы</a></span>
                    <span class="col-6 navigation active">Ответы</span>
                {% endif %}
            </div>
        </div>
        <span id="bg-color" style="display: none;">{{ form.background_color }}</span>
        <span id="text-color" style="display: none;">{{ form.text_color }}</span>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="margin-top-bottom box question-box" id="responses">
                        {% if responses.count > 0 %}
                            <h1 class="response-title">Индивидуальные ответы:</h1>
                            <ul>
                                {% for i in responses %}
                                    {% if form.collect_email %}
                                        <li><a href="{% url 'polls:response' form.code i.response_code %}"
                                               class="link">{{ i.responder_email }}'s response</a></li>
                                    {% elif form.authenticated_responder %}
                                        <li><a href="{% url 'polls:response' form.code i.response_code %}"
                                               class="link">{{ i.responder.fio }} - Ответы </a></li>
                                    {% else %}
                                        <li><a href="{% url 'polls:response' form.code i.response_code %}"
                                               class="link">{{ i.responder_ip }}'s response</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {# <button class="btn btn-danger" id="delete-responses">Delete all responses</button> #}
                        {% else %}
                            <h1 class="response-title">нет ответов</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="margin-top-bottom box question-box">
                        <h1 class="response-title">Сводка по ответам:</h1>
                        {% for r in responsesSummary %}
                            <div class="response-summary">
                                <h3 class="response-summary-title">{{ r.question.question }}</h3>
                                {% if r.answers|count > 0 or filteredResponsesSummary|get_property:r.question.question|count > 0 %}
                                    {% if r.question.question_type == 'short' or r.question.question_type == 'paragraph' %}
                                        {% for i in r.answers %}
                                            <blockquote>{{ i.answer }}</blockquote>
                                        {% endfor %}
                                    {% else %}
                                        <canvas id="myChart{{ r.question.id }}" class="pie-chart"></canvas>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                                        <script>
                                            Chart.defaults.global.defaultFontFamily = "Roboto";
                                            Chart.defaults.global.defaultFontSize = 30;
                                            var ctx = document.getElementById("myChart{{r.question.id}}");
                                            let chartData{{r.question.id}} = {
                                                labels: [
                                                    {% for i in filteredResponsesSummary|get_property:r.question.question %}
                                                        "{{i}}",{% endfor %}], datasets:
                                                    [{
                                                        data: [{% for i in filteredResponsesSummary|get_property:r.question.question %}{{filteredResponsesSummary|get_property:r.question.question|get_property:i}}, {% endfor %}],
                                                        backgroundColor: [
                                                            {% for _ in filteredResponsesSummary|get_property:r.question.question %}
                                                                "{{0|generate_color}}",{% endfor %}],
                                                    }]
                                            }
                                            new Chart(ctx, {
                                                type: 'pie',
                                                data: chartData{{r.question.id}},
                                                options: {responsive: true}
                                            });
                                        </script>
                                    {% endif %}
                                {% else %}
                                    <blockquote><i>Нет ответов</i></blockquote>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="question-options">
                <a href="{% url 'polls:view_form' form.code %}">
                    <img src="{% static 'Icon/eye.png' %}" class="form-option-icon" title="Просмотр"/>
                </a>
                <a href="{% url 'polls:edit_form' form.code %}">
                    <img src="{% static 'Icon/question.png' %}" alt="Edit Question" title="Редактировать"
                         class="form-option-icon">
                </a>
                {% if form.is_quiz %}
                    <a href="{% url 'polls:score' form.code %}" id="add-score">
                        <img src="{% static 'Icon/score.png' %}" class="form-option-icon" title="Add score"
                             alt="Score icon"/>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}