{% extends 'base.html' %}
{% load static %}
{% block title %}{{ form.title }}{% endblock %}
{% block script %}
    <script src="{% static 'index/viewform.js' %}" defer></script>
{% endblock %}

{% block content %}
    <span id="bg-color" style="display: none;">{{ form.background_color }}</span>
    <span id="text-color" style="display: none;">{{ form.text_color }}</span>

    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="page-header text-center card-body">
                                <h3 class="txtClr">{{ form.title }}
                                </h3>
                                <br>
                                <p style="color:#222">{{ form.description|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row product-adding justify-content-center">
                <div class="col-lg-6">
                    <form method="POST" action="{% url 'polls:submit_form' form.code %}" autocomplete="off">
                        {% csrf_token %}
                        {% for question in form.questions.all %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="txtClr">{{ question.question }} {% if question.required %}
                                        <span class="require-star">*</span>{% endif %}</h5>
                                </div>
                                <div class="card-body">
                                    <div class="digital-add needs-validation">
                                        <div class="form-group">
                                            {% if question.question_type == "short" %}
                                                <input type="text" name="{{ question.id }}" class="form-control"
                                                       placeholder="Ваш ответ"
                                                        {% if question.required %} required {% endif %}>
                                            {% elif question.question_type == "paragraph" %}
                                                <textarea name="{{ question.id }}" placeholder="Ваш ответ"
                                                          class="form-control"
                                                        {% if question.required %} required {% endif %}></textarea>
                                            {% elif question.question_type == "multiple choice" %}
                                                {% for choice in question.choices.all %}
                                                    <div class="multiple-choice">
                                                        <input type="radio" class="radio_animated"
                                                               name="{{ question.id }}"
                                                               id="{{ choice.id }}"
                                                                {% if question.required %} required {% endif %}
                                                               value="{{ choice.id }}">
                                                        <label for="{{ choice.id }}"
                                                               class="col-form-label pt-0">{{ choice.choice }}</label>
                                                    </div>
                                                {% endfor %}
                                            {% elif question.question_type == "checkbox" %}
                                                {% for choice in question.choices.all %}
                                                    <div class="multiple-choice">
                                                        <input type="checkbox" class="checkbox_animated"
                                                               name="{{ question.id }}"
                                                               id="{{ choice.id }}"
                                                                {% if question.required %} required {% endif %}
                                                               value="{{ choice.id }}">
                                                        <label for="{{ choice.id }}"
                                                               class="col-form-label pt-0">{{ choice.choice }}</label>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="card">
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.body.style.backgroundColor = document.querySelector("#bg-color").innerHTML;
            document.querySelector(".page-body").style.backgroundColor = document.querySelector("#bg-color").innerHTML;
            document.body.style.color = document.querySelector("#text-color").innerHTML;
            document.querySelectorAll(".txtClr").forEach(element => {
                element.style.color = document.querySelector("#text-color").innerHTML;
            })
            document.querySelectorAll('input[type="checkbox"]').forEach(element => {
                document.getElementsByName(element.name).forEach(checkbox => {
                    checkbox.addEventListener("input", function () {
                        let totalChecked = 0
                        document.getElementsByName(element.name).forEach(checkbox => {
                            if (checkbox.checked) totalChecked++;
                        })
                        if (totalChecked > 0) {
                            document.getElementsByName(element.name).forEach(checkbox => {
                                checkbox.removeAttribute("required")
                            })
                        } else {
                            document.getElementsByName(element.name).forEach(checkbox => {
                                checkbox.setAttribute("required", '')
                            })
                        }
                    })
                })
            })
        })
    </script>
{% endblock %}