.blog-page .blog-sidebar .theme-card {
    padding: 30px;
}

.blog-detail-page .blog-detail img {
    margin-bottom: 40px;
}

.blog-detail-page .blog-detail h3 {
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.blog-detail-page .blog-detail .post-social {
    color: #777;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.blog-detail-page .blog-detail .post-social li + li {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #ddd;
}

.blog-detail-page .blog-detail p {
    color: #777;
    line-height: 1.8;
}

.section-b-space {
    padding-bottom: 70px;
}

.blog-detail-page .blog-contact h2 {
    margin-bottom: 30px;
    margin-top: -5px;
}

.blog-detail-page .blog-contact .theme-form label {
    text-transform: capitalize;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.blog-detail-page .blog-contact .theme-form input, .blog-detail-page .blog-contact .theme-form textarea {
    border-color: #ddd;
    font-size: 14px;
    padding: 17px 25px;
    margin-bottom: 30px;
}

.blog-detail-page .blog-contact .theme-form input, .blog-detail-page .blog-contact .theme-form textarea {
    border-color: #ddd;
    font-size: 14px;
    padding: 17px 25px;
    margin-bottom: 30px;
}

.btn-solid {
    padding: 13px 29px;
    color: #fff;
    letter-spacing: 0.05em;
    border: 2px solid var(--theme-color);
    background-image: linear-gradient(30deg, var(--theme-color) 50%, transparent 50%);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.blog-detail-page .comment-section li {
    display: block;
}

.blog-detail-page .comment-section li img {
    height: auto;
    width: 80px;
    margin-right: 20px;
}

.blog-detail-page .comment-section .media {
    padding: 10px;
        margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
}

.blog-detail-page .comment-section ul ul:not(:first-child) {
    margin-left: 3rem;

    position: relative;
}

.blog-detail-page .comment-section ul ul:last-child::before {
  content: "";
  background-color: rgb(170, 170, 170);
  position: absolute;
  min-height: 100%;
  width: 1px;
  left: -45px;
}

.blog-detail-page .comment-section ul ul:not(:last-child)::before {
  content: "";

  left: -10px;
}

.blog-page .blog-media .blog-right ul {
    color: #777;
    margin-bottom: 15px;
}

.blog-page .blog-media .blog-right ul li {
    font-size: 14px;
    line-height: 1.5;
}

.blog-page .blog-media .blog-right ul li i {
    padding-right: 3px;
}

.blog-page .blog-media .blog-right p {
    line-height: 1.8;
    margin-bottom: 0;
    letter-spacing: 0.04em;
}

.blog-page .blog-media .blog-right ul li + li {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #ddd;
}