{% extends 'base.html' %}
{% load view_breadcrumbs %}
{% load static %}
{% block title %}Мои обращения{% endblock %}

{% block content %}
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Мои обращения
                                <small></small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% render_breadcrumbs "breadcrumbs.html" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive table-desi">
                        <table class="all-package coupon-table table table-striped">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Тип</th>
                                <th>Тема</th>
                                <th>Статус</th>
                                <th>Создано</th>
                            </tr>
                            </thead>
                            <tbody id="replaceableContent">
                            {% for feedback in ideas %}
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>Идея</td>
                                    <td>{{ feedback.topic }}</td>
                                    <td>{{ feedback.get_status_display }}</td>
                                    <td>{{ feedback.created }}</td>
                                </tr>
                            {% endfor %}
                            {% for feedback in feedbacks %}
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>Обращение</td>
                                    <td>{{ feedback.topic }}</td>
                                    <td>{{ feedback.get_status_display }}</td>
                                    <td>{{ feedback.created }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
