{% extends 'base.html' %}
{% load static %}
{% load view_breadcrumbs %}
{% load taggit_extras %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Новости
                                <small>Список новостей компании</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% render_breadcrumbs "breadcrumbs.html" %}
                    </div>
                </div>
            </div>
            <div class="blog-page">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                {% for news in news_list %}
                                    {% include 'blog/news/news_list_item.html' %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="blog-sidebar card o-hidden widget-cards">
                            <div class="theme-card">
                                <h3>Категории</h3>
                                <br>
                                <h4 class="{% if not active_cat %}active{% endif %}"><a
                                        href="{% url 'blog:news_list' %}">Все</a></h4>
                                {% for category in categories %}
                                    <br>
                                    <h4 class="{% if active_cat == category.slug %}active{% endif %}"><a
                                            href="{% url 'blog:news_list'  category.slug %}">{{ category.name }}</a>
                                    </h4>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar card o-hidden widget-cards">
                            <div class="theme-card">
                                <h3>Теги</h3>
                                <div class="tags mt-4">
                                    {% get_tag_list_for_news  request %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'pagination.html' %}
        </div>
    </div>

{% endblock %}