{% extends 'base.html' %}
{% load view_breadcrumbs %}
{% load static %}
{% load taggit_extras %}

{% block head %}
    <script src="{% static 'assets/js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Сотрудники
                                <small>Список дней рождений</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% render_breadcrumbs "breadcrumbs.html" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <form class="search-form search-box">
                        <div class="form-group">
                            <input id="employeeSearch" type="search" name="query"
                                   value="{{ request.GET.query }}"
                                   placeholder="Поиск сотрудников">
                            <span
                                    class="d-sm-none mobile-search"></span>
                        </div>
                    </form>
                    <div class="tags mt-3">
                        {% get_taglist 'employees' %}
                    </div>

                </div>

                <div class="card-body">
                    <div class="table-responsive table-desi">
                        <table class="all-package coupon-table table table-striped">
                            <thead>
                            <tr>
                                <th>Фото</th>
                                <th>ФИО</th>
                                <th>Дата рождения</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="replaceableContent">
                            {% include "employees/employees_birthday_results_partial.html" %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const user_input = $("#employeeSearch")
        const tags = $(".tag-button")
        const table = $('#replaceableContent')
        const endpoint = '{% url 'employees:employee_birthdays' %}'
        const delay_by_in_ms = 600
        let scheduled_function = false
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    table.fadeTo('slow', 0).promise().then(() => {
                        table.html(response['html_from_view'])
                        table.fadeTo('slow', 1)
                    })
                })
        }

        user_input.on('keyup', function () {
            const activeTag = $(".tag-button.active")
            const request_parameters = {
                query: $(this).val(),
                tag: activeTag.val() ? activeTag.val() : undefined,
                new: params.new ? params.new : undefined
            }
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })

        user_input.on('search', function () {
            const activeTag = $(".tag-button.active")
            const request_parameters = {
                query: $(this).val(),
                tag: activeTag.val() ? activeTag.val() : undefined,
                new: params.new ? params.new : undefined
            }
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })

        user_input.on('clear', function () {
            const activeTag = $(".tag-button.active")
            const request_parameters = {
                query: $(this).val(),
                tag: activeTag.val() ? activeTag.val() : undefined,
                new: params.new ? params.new : undefined
            }
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })

        tags.on('click', function () {
            const request_parameters = {
                query: user_input.val() ? user_input.val() : undefined,
                tag: $(this).val(),
                new: params.new ? params.new : undefined
            }
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
    </script>
{% endblock %}