<div hx-post="{% url 'organization:employee_like' employee.pk %}"
     hx-swap="outerHTML"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="employee-like">
        <div>Кол-во оценок: {{ employee.all_likes.count }}</div>
        <div class="vote">
            <i class="fa fa-heart"></i>
            <div>Оценить</div>
            {% if htmx_message %}
                <div id="htmxResponseMessage">{{ htmx_message }}</div>
            {% endif %}
        </div>
    </div>

    <script>
        if (document.getElementById('htmxResponseMessage')) {
            setTimeout(function () {
                document.getElementById('htmxResponseMessage').remove();
            }, 3000);
        }
    </script>
</div>