{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load view_breadcrumbs %}
{% load mptt_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/employees.css' %}">
    <script src="{% static 'assets/js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Сотрудник
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% render_breadcrumbs "breadcrumbs.html" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-details text-center">
                                {% if employee.avatar %}
                                    {% thumbnail employee.avatar "300" crop="150px 150px" format="PNG" as avatar %}
                                        <img class="img-fluid img-90 rounded-circle blur-up lazyloaded"
                                             src="{{ avatar.url }}">
                                    {% endthumbnail %}

                                {% else %}
                                    <img class="img-fluid img-90 rounded-circle blur-up lazyloaded"
                                         src="{% static 'assets/images/dashboard/user3.jpg' %}">
                                {% endif %}

                                <h5 class="f-w-600 mb-0">{{ employee.fio }}</h5>
                                <span>{{ employee.email }}</span>
                            </div>
                            <hr>
                            <div class="project-status">
                                <h5 class="f-w-600">О сотруднике</h5>
                                <p>{{ employee.description|linebreaks }}</p>
                                {% include 'employees/employee_likes.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="top-profile-tab"
                                                        data-bs-toggle="tab" href="#top-profile" role="tab"
                                                        aria-controls="top-profile" aria-selected="true"><i
                                        data-feather="user"
                                        class="me-2"></i>О сотруднике</a>
                                </li>
                                {% if employee.contacts.all %}
                                    <li class="nav-item"><a class="nav-link" id="contact-top-tab"
                                                            data-bs-toggle="tab" href="#top-contact" role="tab"
                                                            aria-controls="top-contact" aria-selected="false"><i
                                            data-feather="phone" class="me-2"></i>Контакты</a>
                                    </li>
                                {% endif %}
                                {% if children_employees %}
                                    <li class="nav-item"><a class="nav-link" id="employees-top-tab"
                                                            data-bs-toggle="tab" href="#top-employees" role="tab"
                                                            aria-controls="top-employees" aria-selected="false"><i
                                            data-feather="settings" class="me-2"></i>Подчиненные</a>
                                    </li>
                                {% endif %}
                                {% if employee.awards.all %}
                                    <li class="nav-item"><a class="nav-link" id="employeeAward-top-tab"
                                                            data-bs-toggle="tab" href="#top-employeeAward" role="tab"
                                                            aria-controls="top-employeeAward" aria-selected="false"><i
                                            data-feather="settings" class="me-2"></i>Награды</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="top-tabContent">
                                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                                     aria-labelledby="top-profile-tab">
                                    <div class="table-responsive profile-table">
                                        <table class="table table-borderless">
                                            <tbody>
                                            <tr>
                                                <td>Департамент</td>
                                                <td>{{ employee.department }}</td>
                                            </tr>
                                            <tr>
                                                <td>Должность:</td>
                                                <td>{{ employee.position }}</td>
                                            </tr>
                                            {% if employee.birthday %}
                                                <tr>
                                                    <td>Дата рождения:</td>
                                                    <td>{{ employee.birthday }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if employee.parent %}
                                                <tr>
                                                    <td>Руководитель:</td>
                                                    <td>
                                                        <a href="{% url 'employees:employee_detail' employee.parent.id %}">{{ employee.parent.fio }}</a>
                                                    </td>
                                                </tr>
                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="top-contact" role="tabpanel"
                                     aria-labelledby="contact-top-tab">
                                    <div class="account-setting">
                                        {% for contact in employee.contacts.all %}
                                            <div class="row">
                                                <div class="col-auto">
                                                    {{ contact.name }}:
                                                </div>
                                                <div class="col-auto">
                                                    {{ contact.value }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="top-employees" role="tabpanel"
                                     aria-labelledby="employees-top-tab">
                                    <div class="childrenEmployees">

                                            {% recursetree children_employees %}
                                                <div>
                                                    <a href="{% url 'employees:employee_detail' node.id %}">{{ node.fio }}</a>
                                                </div>
                                            {% endrecursetree %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="top-employeeAward" role="tabpanel"
                                     aria-labelledby="employeeAward-top-tab">
                                    <div class="childrenEmployees">
                                        {% for award in employee.awards.all %}
                                            <div>
                                                {# {% url 'employees:award_detail' award.id %} #}
                                                <a href="#">{{ award.award.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}