{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load view_breadcrumbs %}
{% load mptt_tags %}
{% block title %}Сотрудники{% endblock %}

{% block head %}
    <script src="{% static 'assets/js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Сотрудник
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% render_breadcrumbs "breadcrumbs.html" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-details text-center">
                                {% include 'employees/employee_avatar.html' with size=120 obj=employee %}
                                <h5 class="f-w-600 mb-0">{{ employee.fio }}</h5>
                                <span>{{ employee.email }}</span>
                            </div>
                            <hr>
                            <div class="project-status">
                                <h5 class="f-w-600">О сотруднике</h5>
                                <p>{{ employee.description|linebreaks }}</p>
                                {% include 'employees/employee_likes.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="top-profile-tab"
                                                        data-bs-toggle="tab" href="#top-profile" role="tab"
                                                        aria-controls="top-profile" aria-selected="true"><i
                                        data-feather="user"
                                        class="me-2"></i>Информация</a>
                                </li>

                                {% if children_employees %}
                                    <li class="nav-item"><a class="nav-link" id="employees-top-tab"
                                                            data-bs-toggle="tab" href="#top-employees" role="tab"
                                                            aria-controls="top-employees" aria-selected="false"><i
                                            data-feather="settings" class="me-2"></i>Подчиненные</a>
                                    </li>
                                {% endif %}
                                {% if employee.awards.all %}
                                    <li class="nav-item"><a class="nav-link" id="employeeAward-top-tab"
                                                            data-bs-toggle="tab" href="#top-employeeAward" role="tab"
                                                            aria-controls="top-employeeAward" aria-selected="false"><i
                                            data-feather="settings" class="me-2"></i>Награды</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="top-tabContent">
                                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                                     aria-labelledby="top-profile-tab">
                                    <div class="table-responsive profile-table">
                                        <table class="table table-borderless">
                                            <tbody>
                                            {% if employee.city %}
                                                <tr>
                                                    <td>Город:</td>
                                                    <td>{{ employee.city }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if employee.department %}
                                                <tr>
                                                    <td>Департамент</td>
                                                    <td>
                                                        <a href="{% url 'organization:department_detail' employee.department.id %}">{{ employee.department }}</a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if employee.position %}
                                                <tr>
                                                    <td>Должность:</td>
                                                    <td>{{ employee.position }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if employee.birthday %}
                                                <tr>
                                                    <td>Дата рождения:</td>
                                                    <td>{{ employee.birthday }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if employee.parent %}
                                                <tr>
                                                    <td>Руководитель:</td>
                                                    <td>
                                                        <a href="{% url 'employees:employee_detail' employee.parent.id %}">
                                                            {{ employee.parent.fio }}</a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if employee.internal_phone %}
                                                <tr>
                                                    <td>Внутренний телефон:</td>
                                                    <td>
                                                        {{ employee.internal_phone }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% for contact in employee.contacts.all %}
                                                <tr>
                                                    <td>{{ contact.name }}</td>
                                                    <td>{{ contact.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="top-employees" role="tabpanel"
                                     aria-labelledby="employees-top-tab">
                                    <div class="table-responsive profile-table">
                                        <table class="table table-borderless">
                                            <tbody>
                                            {% recursetree children_employees %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'employees:employee_detail' node.id %}">{{ node.fio }}</a>
                                                    </td>
                                                </tr>
                                            {% endrecursetree %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="top-employeeAward" role="tabpanel"
                                     aria-labelledby="employeeAward-top-tab">
                                    <div class="table-responsive profile-table">
                                        <table class="table table-borderless">
                                            <tbody>
                                            {% for award in employee.awards.all %}
                                                <tr>
                                                    <td><a href="#">{{ award.award.name }}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}