{% load thumbnail %}
{% load static %}
{% load solo_tags %}

{% get_solo 'organization.OrganizationConfig' as org_config %}

{% if obj.avatar %}
    {% thumbnail obj.avatar "500x500" crop="30%" as avatar %}
        <img class="img-fluid img-{{ size }} rounded-circle blur-up lazyloaded {% if not no_scaled %}scaled{% endif %}"
             src="{{ avatar.url }}">
    {% endthumbnail %}

{% else %}
    {% thumbnail org_config.default_img "300x300" crop="30%" as avatar %}
        <img class="img-fluid img-{{ size }} rounded-circle blur-up lazyloaded"
             src="{{ avatar.url }}">
    {% endthumbnail %}
{% endif %}