{% extends 'base.html' %}
{% load static %}
{% load view_breadcrumbs %}
{% load solo_tags %}
{% load editorjs %}
{% load compress %}
{% load thumbnail %}

{% block title %}Реализованная идея{% endblock %}

{% block head %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'assets/css/content/content.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>{{ idea.name }}</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% render_breadcrumbs "breadcrumbs.html" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive table-desi">
                                <h3>Авторы</h3>
                                <br>
                                <table class="all-package coupon-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>ФИО</th>
                                        <th>Email</th>
                                        <th>Внутренний телефон</th>
                                        <th>Должность</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody id="replaceableContent">
                                    {% include "employees/employees_results_partial.html" with employees=idea.employee.all %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="editor-content">
                                {{ idea.description | editorjs }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}