{% load static %}
{% load thumbnail %}
{% load solo_tags %}
{% get_solo 'organization.OrganizationConfig' as org_config %}
<div class="page-sidebar">
    <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper">
            <a href="{% url 'home' %}">
                <img class="d-none d-lg-block"
                     src="{% static 'assets/images/logo_colored.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div class="sidebar custom-scrollbar">
        <a href="javascript:void(0)" class="sidebar-back d-lg-none d-block"><i class="fa fa-times"
                                                                               aria-hidden="true"></i></a>
        <!--
        {% if user.is_authenticated %}
            <div class="sidebar-user">
                {% if user.avatar %}
                     {% thumbnail user.avatar "60x60" crop="30%" as avatar %}
                        <img class="align-self-center pull-right img-60 blur-up lazyloaded"
                             src="{{ avatar.url }}" alt="header-user">
                    {% endthumbnail %}

                {% else %}
                    <img class="align-self-center pull-right img-60 blur-up lazyloaded"
                         src="{% static 'assets/images/dashboard/user3.jpg' %}" alt="header-user">
                {% endif %}
                <div>
                    <h6 class="f-14">{{ user }}</h6>
                    {% if user.position %}
                        <p>{{ user.position }}</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        -->
        <ul class="sidebar-menu">
            {% if user.is_authenticated %}
                <li>
                    <a class="sidebar-header" href="{% url 'home' %}">
                        <span>Главная</span>
                    </a>
                </li>

                <li>
                    <a class="sidebar-header" href="{% url 'about' %}">
                        <span>О компании</span>
                    </a>
                </li>

                <li>
                    <a class="sidebar-header" href="{% url 'blog:news_list' %}">
                        <span>Новости</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                </li>

                <li>
                    <a class="sidebar-header" href="{% url 'organization:departments' %}">
                        <span>Подразделения</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                </li>

                <li>
                    <a class="sidebar-header" href="{% url 'employees:employee_list' %}">
                        <span>Сотрудники</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a href="{% url 'employees:tree' %}">
                                <i class="fa fa-circle"></i>Иерархия
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'employees:employee_list' %}">
                                <i class="fa fa-circle"></i>Все сотрудники
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'employees:employee_new_list' %}?&new=1">
                                <i class="fa fa-circle"></i>Новые сотрудники
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'employees:employee_birthdays' %}">
                                <i class="fa fa-circle"></i>Дни рождения
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="sidebar-header" href="{% url 'employees:awards_list' %}">
                        <span>Корп. награды</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                </li>
                {% if org_config.albums_folder %}
                    <li>
                        <a class="sidebar-header" href="{% url 'album_list' %}">
                            <span>Фотогалерея</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="sidebar-header" href="javascript:void(0)">
                        <span>Корп. Обучение</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        {% if org_config.knowledge_base %}
                            <li>
                                <a href="{% url 'documents' %}">
                                    <i class="fa fa-circle"></i>База знаний
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'books:book_list' %}">
                                <i class="fa fa-circle"></i>Библиотека
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="javascript:void(0)">
                        <span>Обратная связь</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a href="{% url 'feedback:org_feedback' %}">
                                <i class="fa fa-circle"></i>
                                Создать обращение
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'polls:form_list' %}">
                                <i class="fa fa-circle"></i>
                                Опросы
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'feedback:director_feedback' %}">
                                <i class="fa fa-circle"></i>
                                Обращение к Ген. директору
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="{% url 'ideas' %}">
                        <span>Банк идей</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="sidebar-header" href="{% url 'login' %}">
                        <span>Войти</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-header" href="{% url 'password_reset' %}">
                        <span>Восстановить пароль</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>